# Fix common issues with 2-Step Verification

Source: Google
URL: https://support.google.com/accounts/answer/185834?hl=en
Category: Authentication

## My phone was lost or stolen

We recommend you:

- [Sign out of the lost or stolen phone](https://support.google.com/accounts/answer/3067630#remove).
- [Change your Google Account password](https://support.google.com/accounts/answer/41078).

You have several ways you can get back into your account, depending on your circumstances. Use backup options, sign in from a trusted device, get a new phone from your carrier, or recover your account.

## My security key was lost or stolen

### If you have another second step

1. Sign in to your Google Account with your password and your other second step.
2. Follow the steps to [remove the lost key from your account](https://support.google.com/titansecuritykey/answer/9115656).
3. [Get a new security key](https://support.google.com/accounts/answer/6103523#get_key). You may want to get an extra key you can keep in a safe place.
4. [Add the new key to your account](https://support.google.com/accounts/answer/6103523#add_key).

### If you don’t have another second step or forgot your password

Important: 2-Step Verification requires an extra step to prove you own an account. Because of this added security, it can take 3-5 business days for Google to make sure it’s you.

[Follow the steps to recover your account](https://accounts.google.com/signin/recovery). You'll be asked questions to confirm you own the account.

Use these [tips to answer as best you can.](https://support.google.com/accounts/answer/7299973)

You may be asked:

1. To enter an email address or phone number where you can be reached.
2. To enter a code sent to your email address or phone number. This code helps make sure you can access that email address or phone number.

Choose the right steps to get back into your account, based on if you set up another second step, like:

- Verification codes
- Google prompts
- Backup codes
- A backup security key you’ve added to your account
- A registered computer where you chose not to be asked for a verification code

Important: If you added Advanced Protection to your account, you can only use a backup security key. If you don’t have a backup security key, follow the steps to recover your account.

## My passkey was lost or stolen

- Lost or stolen device
- Missing or unavailable passkey

## Require a security key as your second step

If you turn on 2-Step Verification and sign in on an eligible phone, you can get [Google prompts](https://support.google.com/accounts/answer/7026266). To make a security key your required second step, [enroll in Advanced Protection](https://support.google.com/accounts/answer/7519408).

## Revoke lost backup codes

If you lost your backup codes, you can revoke them and get new ones.

1. Go to the [2-Step Verification section](https://myaccount.google.com/signinoptions/two-step-verification) of your Google Account.
2. Select Show codes.
3. Select Get new codes.

## You didn't get a verification code

- You might have been sent a Google prompt instead. Learn [why we recommend Google prompts](https://support.google.com/accounts/answer/7026266) instead of text message (SMS) verification codes.
- If we notice something different about how you sign in, like your location, you might not be able to get a verification code through text message.
- If a text message with a verification code was sent to your phone, make sure your service plan and mobile device supports text message delivery.
  - Delivery speed and availability may vary by location and service provider.
- Make sure you have adequate internet connection when you try to get your codes.
- If you get a voice call with a verification code sent to your phone, you get a voicemail if:
  - You can’t answer the call.
  - You don’t have an adequate internet connection.

Tips:

- If you requested multiple verification codes, only the newest one works.
- If you are trying to verify a new sign-in method, you must use an unphishable method like a trusted passkey or physical security key. You will not receive a verification code.

## An app doesn’t work after you turn on 2-Step Verification

When you turn on 2-Step Verification, you may need to sign in to some apps again.

Tip: If you can’t sign in to an app after you add 2-Step Verification, you may need to [use an App Password](https://support.google.com/accounts/answer/185833).

## Why you shouldn’t use Google Voice to get verification codes

If you use Google Voice to get verification codes, you could lock yourself out of your account.

For example, if you sign out of your Google Voice app, you might need a verification code to get back in. But, because it’s sent to your Google Voice, you can’t get the code.

## Work, school, or other organization accounts

If you use an account through your work, school, or other group that’s protected by 2-Step Verification, and you can’t sign in, you can:

- Use backup options.
- [Contact your administrator](https://support.google.com/a/answer/6208960).

## You can’t use a second step to sign in

Use a device you marked as trusted and go to [account recovery](https://accounts.google.com/signin/recovery).

## I can’t sign in to my backup phone with text messages

This can happen when there’s something different about how you sign in, like your location. You may need to move to your main phone, or another trusted device, to sign in to your backup phone.

## Need more help?

### Try these next steps:

[Post to the help community](https://support.google.com/accounts/community?hl=en&help_center_link=COqrCxIqRml4IGNvbW1vbiBpc3N1ZXMgd2l0aCAyLVN0ZXAgVmVyaWZpY2F0aW9u) Get answers from community members

[Learning Center home page](https://support.google.com/accounts?p=learningcenter_3)

We see you have a new Google Account! Learn how to improve your experience with your Google Account checklist.
